.fill-app{
    background-color: #000;
    color: #fff;
    height: 100vh;
    overflow: auto;
    .main{
        display: flex;
         border-top: 1px solid rgba(255,255,255,0.12);
        height: calc(100% - 60px);
        width: 100%;
        .menu{
            width: 200px;
            text-align: center;
            padding-top: 30px;
        }
        .content{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 20px;
    }
    }
    
}

.wallet-content{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 260px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FCFFFE;
    .text{
        width: 90%;
        flex: 1;
        padding-top: 50px;
        text-align: center;
        align-items: center;
    }
    .text-content{
        flex: 1;
    }
    .connect-btn{
        cursor: pointer;
        display: inline-block;
        width: 90%;
        line-height: 36px;
        text-align: center;
        border:1px solid #00ED89;
        border-radius: 6px;
         margin-bottom: 15px;
    }

}

.app-card{
    width: 45%;
    //padding: 15px 30px;
    background: linear-gradient(180deg, #1A1A1A 0%, #0F0F0F 52%, #1A1A1A 100%);
    border-radius: 14px;

}

.account-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        font-size: 32px;
        font-family: Barlow-Bold, Barlow;
        font-weight: bold;
        color: #fff;
        padding:12px 30px 0px 30px;
    }
    .title-item{
        font-size: 22px;
        font-family: Barlow-Bold, Barlow;
        font-weight: bold;
        color: #FEFFFF;
    }
    .value{
        font-size: 22px;
        font-family: Barlow-Bold, Barlow;
        font-weight: bold;
        color: #00ED89;
        .value-unit{
            margin-left: 6px;
        }
    }
    .balance{
        display: flex;
        justify-content: space-between;
            padding: 0px 0px 60px 30px;
        &-item{
            width: 50%;
            text-align: left;
        }
        
    }
}

.chart-list{
    width: 50%;
    color: #fff;
}

.access-content{
    align-items: flex-start;
    .text{
        text-align: left;
    }
    .text-detail{
        display: inline-block;
        font-size: 14px;
        margin-top: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FEFFFE;
    }
   
}
.access-modal{
    .modal-content{
        font-family: Barlow-Bold, Barlow;
        font-weight: bold;
        color: #FAFFFE;
        line-height: 28px;
        font-size: 18px;
        .access-input{
            //width: 70%;
            margin-top: 10px;
        }
        .detail{
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #FCFFFE;
            opacity: 0.9;
            text-align: right;
        }
    }
    .ant-modal-footer{
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
        .connect-btn{
            width: 30%;
            line-height: 30px;
            border: 1px solid #00ED89;
            border-radius: 6px;
            text-align: center;
            cursor: pointer;
        }
        .confirm-btn{
            background-color: #00ED89;
            color: #000;
            
        }
    }
}


.borrow-card{
    position: relative;
     width: 50%;
    display: flex;
    flex-direction: column;
    .title{
        padding: 12px 0px;
    }
    .borrow-content-header{
        display: flex;
        padding-right: 50px;
        .header-item{

            font-size: 20px;
            font-family: PingFangSC-Regular, PingFang SC;
        }
    }
    .borrow-content{
        padding-right: 50px;
        .content-item{
            display: flex;
            font-size: 16px;
            line-height: 40px;
            align-items: center;
            .edit{
                display: flex;
                width: 100%;
                column-gap: 10px;
            }
            .unit{
                margin-left: 4px;
            }
        }

    }
    .miner-btn{
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    width: 85%;
    position: absolute;
    bottom: 15px;
    text-align: center;
     line-height: 42px;
     border: 1px solid #00ED89;
        border-radius: 6px;
        cursor: pointer;
    }
}
